<a href="https://colab.research.google.com/github/BurgundyIsAPublicEnemy/ORLIAn-source/blob/main/ORLIA_Baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
IMAGEFILES = '/content/drive/MyDrive/Epidemium Season 3/ORLIAn /image_data/cellule inflamatoire 1'
TABULARTRAINING = '/content/drive/MyDrive/Epidemium Season 3/ORLIAn /KORL_avatar_train.csv'

In [8]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import preprocessing

count = 0
import os
for dirname, _, filenames in os.walk(IMAGEFILES):
    for filename in filenames:
        count = count + 1
print(count , " files detected")

1421  files detected

In [9]:
train_df = pd.read_csv(TABULARTRAINING)

In [10]:
train_df.head()

  Patient_ID  OMS  Sexe         Age Date_biopsie  ...   N  M  Tabac  Alcool   OS
0     824635    0     1  1965-05-11   2014-03-28  ...  2a  0      3       1   61
1     829316    1     0  1942-12-06   2014-01-01  ...  2b  0      0       1   56
2     82dfbb    1     1  1963-02-05   2012-03-28  ...   2  0      0       1  101
3     832c5f    1     1  1957-11-27   2013-10-25  ...  2b  0      2       1   12
4     837956    0     1  1959-03-15   2012-06-09  ...   1  0      3       1  103

[5 rows x 17 columns]

In [11]:
train_df.describe()

             OMS       Sexe   Age_diag  ...      Tabac     Alcool         OS
count  47.000000  47.000000  47.000000  ...  47.000000  47.000000   47.00000
mean    0.893617   0.829787  61.212766  ...   1.638298   0.978723   47.12766
std     0.840136   0.379883  10.127312  ...   1.358156   0.145865   30.09739
min     0.000000   0.000000  47.000000  ...   0.000000   0.000000    1.00000
25%     0.000000   1.000000  53.500000  ...   0.000000   1.000000   19.00000
50%     1.000000   1.000000  58.000000  ...   2.000000   1.000000   56.00000
75%     1.000000   1.000000  69.000000  ...   3.000000   1.000000   72.00000
max     3.000000   1.000000  83.000000  ...   3.000000   1.000000  103.00000

[8 rows x 11 columns]

# KNN APPROACH

In [ ]:
# Create the Numpy Dataset with Features

# CNN APPROACH